<launch>
  <arg name="INPUT" />
  <arg name="OUTPUT" />
  <arg name="CONF_FILE_OPTION" default="" />
  <arg name="ROBOTHARDWARE_CONF_FILE_OPTION" default="" />
  <arg name="CORBA_PORT" default="2809" /> <!-- previous CORBA_PORT is 2800 -->
  <arg name="OBJECT_MODELS" default="$(find openhrp3)/share/OpenHRP-3.1/sample/model/longfloor.wrl,0,0,0,0,0,1,0" />
  <arg name="INTEGRATE" default="true" />
  <arg name="CONF_DT_OPTION" default="" />
  <arg name="SIMULATION_TIMESTEP_OPTION" default="" />
  <arg name="SIMULATION_JOINT_PROPERTIES_OPTION" default="" />
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />

  <!-- <node name="rtm_naming" pkg="openrtm" type="rtm-naming-restart" args="-p $(arg CORBA_PORT)"/> -->
  <node name="modelloader" pkg="openhrp3" type="openhrp-model-loader" args="-ORBInitRef NameService=corbaloc:iiop:localhost:$(arg CORBA_PORT)/NameService" respawn="true"/>

  <test test-name="projectgenerator" pkg="hrpsys" type="ProjectGenerator" args='-o "corba.nameservers:localhost:$(arg CORBA_PORT)" $(arg INPUT) $(arg OBJECT_MODELS) --integrate $(arg INTEGRATE) --output $(arg OUTPUT) $(arg CONF_FILE_OPTION) $(arg ROBOTHARDWARE_CONF_FILE_OPTION) $(arg CONF_DT_OPTION) $(arg SIMULATION_TIMESTEP_OPTION) $(arg SIMULATION_JOINT_PROPERTIES_OPTION)'/>

</launch>