<launch>
  <sphinxdoc><![CDATA[
  8) <new terminal> $ rosrun fmk start_move_base.launch
  Map_server, hokuyo_node (for laser) starts, and begin navigation.
  ]]></sphinxdoc>
  <node name="fmk_hokuyo" pkg="hokuyo_node" type="hokuyo_node"
	respawn="false" output="screen">
    <param name="calibrate_time" type="bool" value="false"/>
    <param name="port" type="string" value="/dev/ttyACM0"/>
    <param name="intensity" type="bool" value="false"/>
    <param name="frame_id" type="string" value="fmk_laser_link"/>
    <!-- <param name="min_ang_limit" type="double" value=""/> -->
    <!-- <param name="max_ang_limit" type="double" value=""/> -->

  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser"
	args="0.26 0.0 0.205 0 0 -3.14159 /base_footprint /fmk_laser_link 100" />

  <!--- Run map server -->
  <node name="map_server" pkg="map_server" type="map_server"
	args="$(find jsk_maps)/raw_maps/eng2-7f-0.05.yaml" >
	<!-- args="$(find fmk)/launch/eng2-7f-0.05.yaml" > -->
    <param name="frame_id" value="/map"/>
  </node>

  <!--- Run AMCL -->
  <include file="$(find fmk_ros_bridge)/launch/amcl_omni.xml" />
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false"
	name="move_base" output="screen">
    <remap from="cmd_vel" to="navigation/cmd_vel"/>
    <rosparam file="$(find fmk_ros_bridge)/launch/yaml/costmap_common_params.yaml"
	      command="load" ns="global_costmap" />
    <rosparam file="$(find fmk_ros_bridge)/launch/yaml/costmap_common_params.yaml"
	      command="load" ns="local_costmap" />
    <rosparam file="$(find fmk_ros_bridge)/launch/yaml/local_costmap_params.yaml"
	      command="load" />
    <rosparam file="$(find fmk_ros_bridge)/launch/yaml/global_costmap_params.yaml"
	      command="load" />
    <rosparam file="$(find fmk_ros_bridge)/launch/yaml/base_local_planner_params.yaml"
	      command="load" />
  </node>
</launch>