<launch>
  <arg name="nameserver" default="127.0.0.1" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <!--arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log"' /-->
  <node name="rtm_naming" pkg="openrtm" 
  	type="rtm-naming-restart" output="screen" />
  <node pkg="openhrp3" name="starteclipse" 
  	type="eclipse.sh" output="screen"/>
  <node pkg="fmk" type="run-vehicle-gui.sh" name="launchservice" 
	output="screen" /> 
  <node pkg="fmk" type="ftp-log-1.sh" name="ftp-log-1" output="screen" /> 
  <node pkg="fmk" type="ftp-log-2.sh" name="ftp-log-2" output="screen" /> 
  <node name="rtmlaunch" pkg="openrtm" type="rtmlaunch.py" output="screen"
  	args="$(find fmk)/launch/start_fmk.launch" />
  <rtconnect from="VehicleServiceConsumer0.rtc:VehicleServiceConsumer" 
  	      to="VehicleServiceProvider0.rtc:VehicleService" />
  <rtactivate component="VehicleServiceProvider0.rtc" />
  <rtactivate component="VehicleServiceConsumer0.rtc" />
</launch>

