<launch>
  <sphinxdoc><![CDATA[
  <initial setting>
  1)We assumed that rtmros_common and eclipse is already build up.
  2)Put local PC's IP address as 192.168.128.1 .
  3)Unzip VehicleUnitRTC.zip, and move RTC directory under /(root).
  4)Sudo apt-get install ftp server.
  $ sudo apt-get install wu-ftpd
  $ sudo useradd fmk
  $ sudo passwd fmk
  Edit /etc/passwd like below.
  Example)fmk:x:1001:1001::/:/bin/sh

  <normal startup>
  1)Connect local PC and fmk with LAN.
  2)Switch on fmk.
  3)Wait about 30 seconds.
  ($ sudo tail -f /var/log/wu-ftpd/xferlog ;;Check until Mobility.out,Interface.out,VehicleServiceProviderComp.outare send to fmk.)
  4) <new terminal> $ rosrun fmk start_fmk_ros.launch
  ]]></sphinxdoc>

  <arg name="nameserver" default="192.168.128.14" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <node name="rtm_naming" pkg="openrtm"
  	type="rtm-naming-restart" output="screen" />
  <node pkg="fmk_ros_bridge" type="FmkRobotROSBridgeComp" name="fmkrosbridge"
	args="-f $(find fmk_ros_bridge)/rtc.conf" output="screen">
  </node>
  <node pkg="fmk_ros_bridge" type="ftp-log-1.sh" name="ftp_log_1" output="screen" />
  <node pkg="fmk_ros_bridge" type="ftp-log-2.sh" name="ftp_log_2" output="screen" />
  <node name="rtmlaunch" pkg="openrtm" type="rtmlaunch.py" output="screen"
  	args="$(find fmk_ros_bridge)/launch/start_fmk_ros.launch" />
  <rtconnect from="FmkRobotROSBridge0.rtc:VehicleService"
  	      to="VehicleServiceProvider0.rtc:VehicleService" />
  <rtactivate component="VehicleServiceProvider0.rtc" />
  <rtactivate component="FmkRobotROSBridge0.rtc" />

  <machine name="localhost" address="localhost" user="root"
	   ros-root="$(env ROS_ROOT)" default="true"
	   ros-package-path="$(env ROS_PACKAGE_PATH)" />
  <node pkg="ps3joy" name="ps3joy" type="ps3joy.py"
	output="screen" machine="localhost"/>
  <node pkg="joy" name="joy_node" type="joy_node" output="screen"/>
  <node pkg="fmk_ros_bridge" name="joy_teleop"
	type="joy_teleop.py" output="screen"/>

  <node pkg="topic_tools" type="mux" name="cmd_vel_mux" respawn="true"
	args="/cmd_vel /navigation/cmd_vel /teleop/cmd_vel">
    <remap from="mux" to="cmd_vel_mux" />
  </node>

  <node pkg="jsk_pr2_startup" type="mux_selector.py"
	name="cmd_vel_selector" respawn="false" output="screen"
	args="/joy 'm.buttons[10]==1' /teleop/cmd_vel /navigation/cmd_vel 'True' /navigation/cmd_vel">
    <remap from="mux" to="cmd_vel_mux" />
    <param name="default_select" value="/navigation/cmd_vel"/>
  </node>

</launch>
