<launch>
  <node name="rosbag_record" pkg="rosbag" type="record"
	args="/tf /scan
	      /map /particlecloud
	      /camera/rgb/image_rect_color
	      /camera/rgb/camera_info
	      /camera/rgb/points_throttle
	      /move_base/current_goal
	      /move_base/goal
	      /move_base_simple/goal
	      /move_base/local_costmap/robot_footprint
	      /move_base/local_costmap/inflated_obstacles
	      /move_base/TrajectoryPlannerROS/global_plan
	      /move_base/TrajectoryPlannerROS/local_plan
	      -o /home/chen/test
	      "/>
</launch>
