<launch>

  <node name="start_omninames" pkg="rtmbuild" type="start_omninames.sh" args="2809" />

  <include file="$(find hrpsys_ros_bridge)/launch/samplerobot.launch" >
    <arg name="corbaport" default="2809" />
    <arg name="GUI" default="false" />
    <arg name="RUN_RVIZ" default="false" />
    <arg name="USE_UNSTABLE_RTC" default="true" />
  </include>

  <node name="hrpsys_seq_state_ros_bridge_tf_relay" pkg="hrpsys_ros_bridge" type="hrpsys_seq_state_ros_bridge_tf_relay_for_test.py"/>

  <test test-name="samplerobot_hcf" pkg="hrpsys_ros_bridge" type="test-samplerobot-hcf.py" retry="4" time-limit="600" args="-ORBInitRef NameService=corbaloc:iiop:localhost:2809/NameService"/>

</launch>
