<launch>
  <arg name="INPUT" />
  <arg name="OUTPUT" />
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />

  <node name="rtm_naming" pkg="openrtm" type="rtm-naming-restart" args="-p 2800"/>
  <node name="modelloader" pkg="openhrp3" type="openhrp-model-loader" args="-ORBInitRef NameService=corbaloc:iiop:localhost:2800/NameService" respawn="true"/>

  <test test-name="projectgenerator" pkg="hrpsys" type="ProjectGenerator" args='-o "corba.nameservers:localhost:2800" $(arg INPUT) $(find openhrp3)/share/OpenHRP-3.1/sample/model/longfloor.wrl --output $(arg OUTPUT)'/>

</launch>