<launch>
  <env name="LANG" value="C" />
  <node name="rtm_naming" pkg="openrtm" type="rtm-naming" output="screen" />

  <env name="PATH" value="$(find openhrp3)/bin:$(env PATH)" />
  <node pkg="openhrp3" name="grxui" type="grxui.sh"
	args="$(find hrpsys)/share/hrpsys/samples/HRP-4C/HRP-4C.xml"/>
</launch>
