<launch>
  <arg name="ROBOT_NAME" />
  <arg name="GRXUI_FILE" />
  <arg name="MODEL_FILE" />
  <env name="LANG" value="C" />
  <node name="rtm_naming" pkg="openrtm" type="rtm-naming" output="screen"
	required="true" />

  <node name="hrpsys_kill_all" pkg="hrpsys" type="hrpsys_kill_all.sh" />

  <node name="grxui" pkg="openhrp3" type="grxui.sh" />

  <node name="scheduler" pkg="openhrp3" type="openhrp-scheduler" args="$(arg GRXUI_FILE)"/>

  <node name="controller" pkg="hrpsys" type="openhrp-controller-bridge.sh" output="screen"
	args="$(arg ROBOT_NAME) $(arg MODEL_FILE)" />

  <!-- node name="rtcgraph" pkg="openrtm" type="rtcgraph" output="screen"/ -->
  <node name="hrpsys" pkg="hrpsys" type="hrpsyspy" output="screen"
	args="$(find hrpsys)/scripts/hrpsys.py $(arg ROBOT_NAME)" />
</launch>
