<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="localhost" />
  <arg name="KILL_SERVERS" default="false" />
  <arg name="USE_RTCD" default="false" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <arg name="openrtm_args" default='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log" ' />
  <!-- see http://code.google.com/p/hrpsys-base/issues/detail?id=14 for  exec_cxt.periodic.rate:100000 -->
  <arg name="REALTIME" default="false" />
  <arg name="hrpsys_args" default='-o "exec_cxt.periodic.rate:1000000" -o "manager.shutdown_onrtcs:NO" -o "manager.modules.load_path:$(find hrpsys)/lib" -o "manager.modules.preload:HGcontroller.so" -o "manager.components.precreate:HGcontroller" -o "exec_cxt.periodic.type:SynchExtTriggerEC" -o "example.SequencePlayer.config_file:$(arg CONF_FILE)" -o "example.ImpedanceController.config_file:$(arg CONF_FILE)" -o "example.AutoBalancer.config_file:$(arg CONF_FILE)" -o "example.StateHolder.config_file:$(arg CONF_FILE)" -o "example.TorqueFilter.config_file:$(arg CONF_FILE)" -o "example.VirtualForceSensor.config_file:$(arg CONF_FILE)" -o "example.KalmanFilter.config_file:$(arg CONF_FILE)" -o "example.Stabilizer.config_file:$(arg CONF_FILE)" -o "example.CollisionDetector.config_file:$(arg CONF_FILE)" -o "example.SoftErrorLimiter.config_file:$(arg CONF_FILE)"' />
  <arg unless="$(arg REALTIME)" name="hrpsys_opt_args" value="-endless " />
  <arg     if="$(arg REALTIME)" name="hrpsys_opt_args" value="-endless -realtime" />
  <arg name="openrtm_openhrp_server_start" default="true"/>

  <!-- END:openrtm setting -->
  <arg name="PROJECT_FILE" />
  <arg name="MODEL_FILE" />
  <arg name="CONF_FILE" />
  <arg name="RESPAWN" default="true"/>
  <arg name="OUTPUT" default="log"/>
  <arg name="SIMULATOR_NAME"/>
  <arg name="RTCD_LAUNCH_PREFIX" default=""/>
  <arg name="HRPSYS_PY_PKG" default="hrpsys"/>
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />

  <!-- <node if="$(arg START_NAME_SERVER)" -->
  <!--       name="rtm_naming" pkg="openrtm" type="rtm-naming-restart" /> -->

  <group if="$(arg KILL_SERVERS)">
    <node name="hrpsys_kill_all" pkg="openhrp3" type="openhrp-shutdown-servers" />
  </group>

  <node name="modelloader" pkg="openhrp3" type="openhrp-model-loader"
        respawn="$(arg RESPAWN)" output="screen"
        if="$(arg openrtm_openhrp_server_start)"/> <!-- loading dae files crushes model loader -->

  <node if="$(arg USE_RTCD)"
        name="hrpsys" pkg="openrtm" type="rtcd" output="$(arg OUTPUT)"
        launch-prefix="$(arg RTCD_LAUNCH_PREFIX)"
        args="$(arg PROJECT_FILE) -o manager.is_master:YES $(arg openrtm_args) $(arg hrpsys_args)" />
  <node unless="$(arg USE_RTCD)"
        name="hrpsys" pkg="hrpsys" type="hrpsys-simulator" output="$(arg OUTPUT)"
        launch-prefix="$(arg RTCD_LAUNCH_PREFIX)"
        args="$(arg PROJECT_FILE) -o manager.is_master:YES $(arg openrtm_args) $(arg hrpsys_opt_args) $(arg hrpsys_args)" />

  <!-- node name="rtcgraph" pkg="openrtm" type="rtcgraph" output="screen"/ -->

  <node name="hrpsys_py" pkg="$(arg HRPSYS_PY_PKG)" type="hrpsys.py" output="screen"
        args='$(arg SIMULATOR_NAME) $(arg MODEL_FILE)' />

  <!-- <node name="abstransform2posrpy" pkg="hrpsys" type="AbsTransformToPosRpy" output="$(arg OUTPUT)" -->
  <!--       args="$(arg openrtm_args)" respawn="$(arg RESPAWN)" /> -->

</launch>
