<launch>
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="localhost" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log"
				  -o "exec_cxt.periodic.type:SimulationEC" -o "manager.modules.load_path:$(find openhrp3)/lib" -o "manager.modules.preload:SimulationEC.so" ' />
  <!-- END:openrtm setting -->
  <arg name="MODEL_FILE" />
  <env name="LANG" value="C" />

  <node name="rtm_naming" pkg="openrtm" type="rtm-naming" required="true" />

  <node name="hrpsys_kill_all" pkg="openhrp3" type="openhrp-shutdown-servers" />

  <node name="grxui" pkg="openhrp3" type="grxui.sh" />
  <node name="modelloader" pkg="openhrp3" type="openhrp-model-loader" respawn="true" /> <!-- loading dae files crushes model loader -->

  <node name="scheduler" pkg="openhrp3" type="openhrp-scheduler" output="screen"
	args="$(arg MODEL_FILE)" respawn="true" />  <!-- nosim -->

  <node name="controller" pkg="hrpsys" type="openhrp-controller-bridge.sh" output="screen"
	args="$(arg MODEL_FILE)" respawn="true" />

  <!-- node name="rtcgraph" pkg="openrtm" type="rtcgraph" output="screen"/ -->
  <anode name="hrpsys" pkg="hrpsys" type="hrpsyspy" output="screen"
	args='$(find hrpsys)/scripts/hrpsys.py $(arg MODEL_FILE)' respawn="true" />

  <anode name="abstransform2posrpy" pkg="hrpsys" type="AbsTransformToPosRpy" output="screen"
	args="$(arg openrtm_args)" respawn="true" />

  <!-- BEGIN:openrtm connection -->
  <arg name="ROBOT_NAME" value="dummy" />
  <node name="rtmlaunch" pkg="hrpsys" type="hrpsys-launch.sh" args="$(arg MODEL_FILE) $(find hrpsys)/launch/hrpsys.launch" respawn="true" />
  <rtconnect from="$(arg ROBOT_NAME)(Robot)0.rtc:pr" to="AbsTransformToPosRpy0.rtc:pr" />
  <rtconnect from="AbsTransformToPosRpy0.rtc:basePos"  to="StateHolder0.rtc:basePosIn" />
  <rtconnect from="AbsTransformToPosRpy0.rtc:baseRpy"  to="StateHolder0.rtc:baseRpyIn" />
  <rtactivate component="AbsTransformToPosRpy0.rtc" />
  <!-- END:openrtm connection -->
</launch>
