<launch>
  <env name="LANG" value="C" />
  <arg name="MODEL_FILE" value="$(find hrpsys)/share/hrpsys/samples/PA10/PA10.xml" />

  <node name="rtm_naming" pkg="openrtm" type="rtm-naming-restart" />
  <node name="hrpsys_kill_all" pkg="openhrp3" type="openhrp-shutdown-servers" />
  <node name="grxui" pkg="openhrp3" type="grxui.sh" args="$(arg MODEL_FILE)" />

  <sphinxdoc><![CDATA[

This scripts starts PA10.xml hrpsys-base sample project file, First, select StartSimulation sub-menu from GrxUI menu, or clock simulation start button. Then, the robot picks up the green box from the ground by executing following program

.. code-block:: bash

  rosrun hrpsys hrpsyspy `rospack find hrpsys`/share/hrpsys/samples/PA10/PA10.py

.. image:: build/images/PA10.gif
  :width: 600

  ]]></sphinxdoc>
  <test type="test-grxui.py" pkg="openhrp3" time-limit="300" retry="2"
   test-name="PA10"
   args="--start-simulation --max-time=60
	 --target-directory=$(find hrpsys)/build/images
	 --script='rosrun hrpsys hrpsyspy $(find hrpsys)/share/hrpsys/samples/PA10/PA10.py'"
   />
</launch>
