<launch>
  <env name="LANG" value="C" />
  <node name="rtm_naming" pkg="openrtm" type="rtm-naming" output="screen"
	required="true" />

  <node name="hrpsys_kill_all" pkg="hrpsys" type="hrpsys_kill_all.sh" />
  <env name="PATH" value="$(find openhrp3)/bin:$(env PATH)" />
  <node pkg="openhrp3" name="grxui" type="grxui.sh"
	args="$(find hrpsys)/share/hrpsys/samples/PA10/PA10.xml"/>
  <node pkg="hrpsys"   name="hrpsys" type="launch_hrpsys.sh" output="screen"
	launch-prefix="xterm -e" respawn="true">
    <env name="RTC_CONF_DIR" value="$(find hrpsys)/share/hrpsys/samples/PA10/" />
    <env name="RTC_CONF_FILE" value="rtc.conf.robot" />
  </node>
  <node pkg="hrpsys"  name="hrpsyspy" type="hrpsyspy"
	args="$(find hrpsys)/share/hrpsys/samples/PA10/PA10.py"
	output="screen"
	launch-prefix="xterm -e" />
</launch>
