<launch>
  <node name="rtm_naming" pkg="openrtm" type="rtm-naming" output="screen" />
  <node pkg="openhrp3" name="grxui" type="grxui.sh"
	args="$(find hrpsys)/share/hrpsys/samples/PA10/PA10.xml"/>
  <node pkg="hrpsys"   name="hrpsys" type="hrpsys.sh" output="screen"
	launch-prefix="xterm -e" />
  <node pkg="hrpsys"  name="hrpsyspy" type="hrpsyspy"
	args="$(find hrpsys)/share/hrpsys/samples/PA10/PA10.py"
	output="screen"
	launch-prefix="xterm -e" />
</launch>
