<launch>
  <arg name="GUI" default="true" />
  <include file="$(find hrpsys_ros_bridge_tutorials)/launch/hironx_startup.launch" >
    <arg name="GUI" default="$(arg GUI)" />
    <arg name="LAUNCH_HRPSYSPY" value="false" />
  </include>

  <atest type="hironx-test.py" pkg="hironx_ros_bridge" test-name="hironx_test" time-limit="300" />
</launch>
