<launch>
  <arg name="GUI" default="true" />
  <include file="$(find hironx_ros_bridge)/launch/hironx_ros_bridge_simulation.launch" >
    <arg name="GUI" default="$(arg GUI)" />
  </include>

  <param name="joint_states_test/topic" value="/joint_states" />
  <param name="joint_states_test/hz" value="200" />
  <param name="joint_states_test/hzerror" value="10" />
  <param name="joint_states_test/test_duration" value="5.0" />
  <test test-name="joint_states_test" pkg="rostest" type="hztest" name="joint_states_test" />

  <test type="hironx-ros-bridge-test.py" pkg="hironx_ros_bridge" test-name="hironx_ros_bridge_test" time-limit="300" />
</launch>
