#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -i -c "rosrun openrtm_ros_bridge 01-echo.sh"
Name=2 Echo Service
Icon=/usr/share/icons/hicolor/scalable/apps/gdu-emblem-raid1.svg
