<launch>
  <node name="rtm-naming" pkg="openrtm" type="rtm-naming-restart" output="screen" />
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="127.0.0.1" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <!-- END:openrtm setting -->
  <node pkg="openrtm" name="$(anon file_launcher)" type="python_launcher.py"
	args="--file=/usr/share/OpenRTM-aist/examples/python/TkJoyStick/TkJoyStickComp.py" />
  <node pkg="openrtm" name="$(anon file_launcher)" type="python_launcher.py"
	args="--file=/usr/share/OpenRTM-aist/examples/python/MobileRobotCanvas/TkMobileRobotSimulator.py" />
  <!-- BEGIN:openrtm connection -->
  <node name="rtmlaunch" pkg="openrtm" type="rtmlaunch.py" args="$(find openrtm)/launch/MobileRobot_2DSimulator_Example.launch" output = "screen"/>
  <rtconnect from="TkJoyStick0.rtc:pos" to="TkMobileRobotSimulator0.rtc:vel" />
  <rtactivate component="TkJoyStick0.rtc" />
  <rtactivate component="TkMobileRobotSimulator0.rtc" />
</launch>