<launch>
  <node name="rtm-naming" pkg="openrtm" type="rtm-naming-restart" output="screen" />
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="127.0.0.1" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <!-- END:openrtm setting -->
  <node pkg="openrtm" name="$(anon file_launcher)" type="python_launcher.py"
	args="--file=/usr/share/OpenRTM-aist/examples/python/SeqIO/SeqIn.py"
	launch-prefix="xterm -e"/>
  <node pkg="openrtm" name="$(anon file_launcher)" type="python_launcher.py"
	args="--file=/usr/share/OpenRTM-aist/examples/python/SeqIO/SeqOut.py"
	launch-prefix="xterm -e"/>
  <!-- BEGIN:openrtm connection -->
  <node name="rtmlaunch" pkg="openrtm" type="rtmlaunch.py" args="$(find openrtm)/launch/Seq_Example.launch" output = "screen"/>
  <rtconnect from="SequenceOutComponent0.rtc:Octet"
	     to="SequenceInComponent0.rtc:Octet" />
  <rtconnect from="SequenceOutComponent0.rtc:Short"
	     to="SequenceInComponent0.rtc:Short" />
  <rtconnect from="SequenceOutComponent0.rtc:Long"
	     to="SequenceInComponent0.rtc:Long" />
  <rtconnect from="SequenceOutComponent0.rtc:Float"
	     to="SequenceInComponent0.rtc:Float" />
  <rtconnect from="SequenceOutComponent0.rtc:Double"
	     to="SequenceInComponent0.rtc:Double" />
  <rtconnect from="SequenceOutComponent0.rtc:OctetSeq"
	     to="SequenceInComponent0.rtc:OctetSeq" />
  <rtconnect from="SequenceOutComponent0.rtc:ShortSeq"
	     to="SequenceInComponent0.rtc:ShortSeq" />
  <rtconnect from="SequenceOutComponent0.rtc:LongSeq"
	     to="SequenceInComponent0.rtc:LongSeq" />
  <rtconnect from="SequenceOutComponent0.rtc:FloatSeq"
	     to="SequenceInComponent0.rtc:FloatSeq" />
  <rtconnect from="SequenceOutComponent0.rtc:DoubleSeq"
	     to="SequenceInComponent0.rtc:DoubleSeq" />
  <rtactivate component="SequenceOutComponent0.rtc" />
  <rtactivate component="SequenceInComponent0.rtc" />
</launch>