<launch>
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="localhost" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log"' />
  <!-- END:openrtm setting -->

  <env name="LANG" value="C" />
  <node name="rtm_naming" pkg="openrtm" type="rtm-naming-restart" output="screen" />

  <node name="hrpsys_kill_all" pkg="openhrp3" type="openhrp-shutdown-servers" />
  <env name="PATH" value="$(find openhrp3)/bin:$(env PATH)" />
  <node pkg="openhrp3" name="grxui" type="grxui.sh"
	args="$(find RS003)/launch/TEST_RH2_withoutArm_withVision_withRange.xml"/>

  <!-- OpenINVENT -->
  <!-- <node name="Odometry" pkg="openinvent" type="OdometryComp" -->
  <!-- 	args="$(arg openrtm_args) -o Localization.Odometry.config_file:$(find openinvent)/share/conf/Odometry.conf" /> -->

  <!-- <node name="Bridge" pkg="RS003" type="bridge_withVision_withRange.sh" -->
  <!-- 	output="screen"/> -->
  <!-- RS003 -->
  <node name="Odometry" pkg="RS003" type="OdometryComp"
	args="$(arg openrtm_args) -o Localization.Odometry.config_file:$(find openinvent)/share/conf/Odometry.conf" 
	output="screen" launch-prefix="xterm -e"/>
  <node name="GamePad" pkg="RS003" type="GamePadComp" args="$(arg openrtm_args)" />
  <node name="DispPosition" pkg="RS003" type="DispPositionComp" args="$(arg openrtm_args)" />
  <node name="PathPlanning" pkg="RS003" type="PathPlanningComp" args="$(arg openrtm_args) -o example.PathPlanning.config_file:$(find RS003)/src/PathPlanning/PathPlanningParam.conf" />
  <node name="PositionInput" pkg="RS003" type="PositionInputComp" args="$(arg openrtm_args)" />


  <node name="LocalizeCenter" pkg="RS003" type="LocalizeCenterComp"
	args="$(arg openrtm_args) -o example.LocalizeCenter0.config_file:$(find RS003)/src/LocalizeCenter/LocalPosition.conf" output="screen" launch-prefix="xterm -e"/>
  <node name="CeilingNavigation" pkg="RS003" type="CeilingNavigationComp" args="$(arg openrtm_args) -o exec_cxt.periodic.rate:1000.0" output="screen" />
  <node name="show_map" pkg="RS003" type="show_map" />
  <node name="SimViewCam" pkg="RS003" type="SimViewCamComp" args="$(arg openrtm_args)" />
  <node name="SimRangeUrg" pkg="RS003" type="SimRangeUrgComp" args="$(arg openrtm_args)" />
  <node name="Navigation" pkg="RS003" type="NavigationComp"
	args="$(arg openrtm_args) -o example.Navigation0.config_file:$(find RS003)/src/Navigation/NavigationParam.conf"  launch-prefix="xterm -e"/>
  <node name="PathFollower" pkg="RS003" type="PathFollowerComp" args="$(arg openrtm_args)" />
  <node name="SwitchInput" pkg="RS003" type="SwitchInputComp" args="$(arg openrtm_args)" />
  <node name="Tmvel2D2Tmvel" pkg="RS003" type="Tmvel2D2TmvelComp" args="$(arg openrtm_args)" />

  <!-- BEGIN:openrtm connection -->
  <node name="rtmlaunch" pkg="openrtm" type="rtmlaunch.py" args="$(find RS003)/launch/rh.launch" output="screen"/>
  <rtconnect from="PositionInput0.rtc:.position" to="PathPlanning0.rtc:.goal" />
  <rtconnect from="PathPlanning0.rtc:.min_path" to="Navigation0.rtc:.min_path"/>
  <rtconnect from="Navigation0.rtc:.path" to="PathFollower0.rtc:.target_path"/>
  <rtconnect from="SwitchInputRTC0.rtc:outVel" to="Tmvel2D2Tmvel0.rtc:in"/>
  <rtconnect from="Tmvel2D2Tmvel0.rtc:out" to="MotorControl0.rtc:TargetVelocity"/>
  <rtconnect from="MotorControl0.rtc:OutCurrentWheelAngle" to="Odometry0.rtc:CurrentWheelAngle"/>
  <rtconnect from="Odometry0.rtc:OdometryPosition"  to="LocalizeCenter0.rtc:dp_odmIn" />
  <rtconnect from="LocalizeCenter0.rtc:dp_out0"  to="Odometry0.rtc:LocalizedPosition" />
  <rtconnect from="LocalizeCenter0.rtc:dp_out0"  to="PathPlanning0.rtc:.current_position" />
  <rtconnect from="LocalizeCenter0.rtc:dp_out0"  to="Navigation0.rtc:.position" />
  <rtconnect from="LocalizeCenter0.rtc:dp_out0"  to="PathFollower0.rtc:.position" />
  <rtconnect from="GamePad0.rtc:.VelocityIIS"  to="SwitchInputRTC0.rtc:inVelJoy" />
  <rtconnect from="LocalizeCenter0.rtc:dp_out0"  to="DispPosition0.rtc:position" />
  <rtconnect from="PathFollower0.rtc:.velocity"  to="SwitchInputRTC0.rtc:inVelAuto" />
  <rtconnect from="SimViewCam0.rtc:out"  to="CeilingNavigation0.rtc:.CameraData" />
  <rtconnect from="CeilingNavigation0.rtc:.CeilingPosition"  to="LocalizeCenter0.rtc:dp_ceilIn" />
  <rtconnect from="LocalizeCenter0.rtc:dp_out0"  to="CeilingNavigation0.rtc:.LocalizedPosition" />
  <rtactivate component="Odometry0.rtc" />
  <rtactivate component="GamePad0.rtc" />
  <rtactivate component="DispPosition0.rtc" />
  <rtactivate component="PathPlanning0.rtc" />
  <rtactivate component="LocalizeCenter0.rtc" />
  <rtactivate component="CeilingNavigation0.rtc" />
  <rtactivate component="SimViewCam0.rtc" />
  <rtactivate component="SimRangeUrg0.rtc" />
  <rtactivate component="Navigation0.rtc" />
  <rtactivate component="PathFollower0.rtc" />
  <rtactivate component="SwitchInputRTC0.rtc" />
  <rtactivate component="Tmvel2D2Tmvel0.rtc" />

</launch>
