<launch>
  <arg name="FIXED_FRAME" default="/pelvis" />

  <node pkg="laser_assembler" type="laser_scan_assembler"
        name="laser_scan_assembler_node"
        output="screen" >
    <remap from="scan" to="/multisense_sl/laser/scan"/>
    <remap from="cloud_filtered" to="/tilt_scan_shadow2_filtered"/>
    <param name="fixed_frame" type="string" value="$(arg FIXED_FRAME)"/>
    <rosparam command="load" file="$(find hrpsys_gazebo)/config/atlas_laser_filter.yaml" />
  </node>

  <node pkg="hrpsys_gazebo" type="atlas_laser_snapshotter"
        name="atlas_laser_snapshotter"
        output="screen" >
    <remap from="joint_states" to="/multisense_sl/joint_states" />
    <!-- publish /full_cloud2 -->
  </node>

  <!-- start tilting -->
  <node name="start_tilt_laser_node"
        type="start-laser.py" pkg="hrpsys_gazebo"
        output="screen" args="1.1424"/> <!-- 2pi / 5.5 sec -->
</launch>
