<launch>
  <arg name="FIXED_FRAME" default="/pelvis" />  <!-- /imu_floor -->
  <arg name="USE_TILT_LASER" default="true" />
  <arg name="TARGET_FRAME" default="/head_hokuyo_frame" />
  <arg name="CLOUD_IN" default="/full_cloud2" />

  <!-- start tilting -->
  <group if="$(arg USE_TILT_LASER)">
  <node name="start_tilt_laser_node"
        type="start-laser.py" pkg="hrpsys_gazebo"
        output="screen" args="1.1424"/> <!-- 2pi / 5.5 sec -->

  <node pkg="laser_filters" type="scan_to_cloud_filter_chain"
        name="scan_cloud_filter_node"
        output="screen" >
    <remap from="scan" to="/multisense_sl/laser/scan"/>
    <remap from="cloud_filtered" to="~cloud_filtered"/>
    <param name="target_frame" value="$(arg TARGET_FRAME)" />
    <rosparam command="load" file="$(find hrpsys_gazebo)/config/atlas_scan_to_cloud.yaml" />
  </node>

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_filter_server">
    <remap from="cloud_in" to="scan_cloud_filter_node/cloud_filtered" />

    <param name="resolution" value="0.05" />
    <param name="sensor_model/max_range" value="30.0" />
    <param name="frame_id" value="$(arg FIXED_FRAME)" />
    <!-- for filter ground -->
    <param name="filter_ground" value="false" />
  </node>
  </group>

  <node unless="$(arg USE_TILT_LASER)"
        pkg="octomap_server" type="octomap_server_node" name="octomap_full_server">
    <remap from="cloud_in" to="$(arg CLOUD_IN)" />

    <param name="resolution" value="0.25" />
    <param name="sensor_model/max_range" value="10.0" />
    <param name="frame_id" value="$(arg FIXED_FRAME)" />

    <!-- for filter ground -->
    <param name="filter_ground" value="true" />
    <param name="base_frame_id" value="/l_foot" /> <!-- imu_floor is not floor -->
    <param name="ground_filter/distance" value="0.06" />
    <param name="ground_filter/angle"    value="0.12" />
    <param name="ground_filter/plane_distance" value="0.12" />
  </node>
</launch>
