<launch>
  <arg name="USE_STEREO" default="false" />
  <node pkg="laser_assembler" type="laser_scan_assembler"
        name="laser_scan_assembler_node"
        output="screen" >
    <remap from="scan" to="/multisense_sl/laser/scan"/>
    <remap from="cloud_filtered" to="/tilt_scan_shadow2_filtered"/>
    <param name="fixed_frame" type="string" value="/pelvis"/>
    <rosparam command="load" file="$(find hrpsys_gazebo)/config/atlas_laser_filter.yaml" />
  </node>

  <node pkg="hrpsys_gazebo" type="atlas_laser_snapshotter"
        name="atlas_laser_snapshotter"
        output="screen" >
    <remap from="joint_states" to="/multisense_sl/joint_states" />
    <!-- publish /full_cloud2 -->
  </node>

  <!-- use stereo camera -->
  <include if="$(arg USE_STEREO)"
           file="$(find jsk_pcl_ros)/launch/pointcloud_screenpoint.launch" >
    <arg name="USE_VIEW" value="true" />
    <arg name="USE_DEPTH_CREATER" value="false" />
    <arg name="image"  value="/multisense_sl/camera/left" />
    <arg name="points" value="/multisense_sl/camera/points2" />
  </include>

  <!-- use tilt laser -->
  <include unless="$(arg USE_STEREO)"
           file="$(find jsk_pcl_ros)/launch/pointcloud_screenpoint.launch" >
    <arg name="USE_VIEW" value="true" />
    <arg name="USE_DEPTH_CREATER" value="true" />
    <arg name="image"  value="/multisense_sl/camera/left" />
    <arg name="points" value="/full_cloud2" />
  </include>
</launch>
