<launch>
  <arg name="KILL_SERVERS" default="false" />
  <arg name="CONF_FILE" value="$(find hrpsys_gazebo)/models/atlas.conf" />
  <include file="$(find hrpsys)/launch/hrpsys.launch" >
    <arg name="PROJECT_FILE" value="$(find hrpsys_gazebo)/models/atlas.xml" />
    <arg name="MODEL_FILE" value="$(find hrpsys_gazebo)/models/atlas.dae" />
    <arg name="CONF_FILE" value="$(arg CONF_FILE)" />
    <arg name="SIMULATOR_NAME" value="RobotHardware" />
    <arg name="USE_RTCD" value="true" />
    <arg name="hrpsys_args" value='-o "exec_cxt.periodic.rate:200" -o "manager.shutdown_onrtcs:NO" -o "manager.modules.load_path:$(find hrpsys_gazebo)/lib,$(find hrpsys)/lib" -o "manager.modules.preload:RobotHardware.so,hrpEC.so" -o "manager.components.precreate:RobotHardware" -o "exec_cxt.periodic.type:hrpExecutionContext" -o "example.RobotHardware.config_file:$(find hrpsys_gazebo)/models/atlas.RobotHardware.conf" -o "example.SequencePlayer.config_file:$(arg CONF_FILE)" -o "example.ImpedanceController.config_file:$(arg CONF_FILE)" -o "example.AutoBalancer.config_file:$(arg CONF_FILE)" -o "example.StateHolder.config_file:$(arg CONF_FILE)" -o "example.TorqueFilter.config_file:$(arg CONF_FILE)" -o "example.KalmanFilter.config_file:$(arg CONF_FILE)" -o "example.Stabilizer.config_file:$(arg CONF_FILE)" -o "example.CollisionDetector.config_file:$(arg CONF_FILE)" -o "example.SoftErrorLimiter.config_file:$(arg CONF_FILE)"' />
  </include>

  <!-- hrpsys_ros_bridge -->
  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch" >
    <arg name="ROBOT_NAME" value="atlas" />
    <arg name="SIMULATOR_NAME" value="RobotHardware0" />
    <arg name="MODEL_FILE" value="$(find hrpsys_gazebo)/models/atlas.dae" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_gazebo)/models/atlas.dae" />
    <arg name="INSTALL_ROBOT_DESCRIPTION" value="false" />
  </include>

  <!-- bdi_controller -->
  <node pkg="atlas_msgs" type="actionlib_server" name="walking_actionlib_server"/>
</launch>
