<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="KILL_SERVERS" default="false" />
  <arg name="ROBOT_NAME" default="atlas" />
  <arg name="SIMULATOR_NAME" default="RobotHardware0" />
  <arg name="CONF_FILE" value="$(find hrpsys_gazebo)/models/$(arg ROBOT_NAME).conf" />

  <include file="$(find hrpsys)/launch/hrpsys.launch" >
    <arg name="USE_RTCD" value="true" />
    <arg name="hrpsys_load_path" default="$(find hrpsys_gazebo)/lib,$(find hrpsys)/lib"/>
    <arg name="RobotHardware_conf" default='$(find hrpsys_gazebo)/models/$(arg ROBOT_NAME).RobotHardware.conf'/>
    <arg name="PROJECT_FILE" value="$(find hrpsys_gazebo)/models/$(arg ROBOT_NAME).xml" />
    <arg name="MODEL_FILE" value="$(find hrpsys_gazebo)/models/$(arg ROBOT_NAME).dae" />
    <arg name="CONF_FILE" value="$(arg CONF_FILE)" />
    <arg name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" />
    <arg name="HRPSYS_PY_PKG" default="hrpsys_gazebo"/>
  </include>

  <!-- hrpsys_ros_bridge -->
  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch" >
    <arg name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" />
    <arg name="MODEL_FILE" value="$(find hrpsys_gazebo)/models/$(arg ROBOT_NAME).dae" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_gazebo)/models/$(arg ROBOT_NAME).dae" />
    <arg name="INSTALL_ROBOT_DESCRIPTION" value="false" />

    <arg name="USE_ROBOTHARDWARE" value="true" />
  </include>

  <!-- BEGIN:openrtm connection -->
  <!-- <env name="ROBOT_NAME" value="$(arg ROBOT_NAME)" /> -->
  <!-- <env name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" /> -->
  <!-- <node name="rtmlaunch_hrpsys_gazebo_atlas_hrpsys_launch" pkg="openrtm" type="rtmlaunch.py" args="$(find hrpsys_gazebo)/launch/atlas_hrpsys_bringup.launch"/> -->
  <!-- <rtconnect from="RobotHardwareServiceROSBridge.rtc:RobotHardwareService" to="$(arg SIMULATOR_NAME).rtc:RobotHardwareService"  subscription_type="new"/> -->
  <!-- END:openrtm connection -->

</launch>
