<launch>
  <arg name="MAP_FILE" default="$(find hrpsys_gazebo)/maps/stepping_map.yaml" />
  <arg name="LAUNCH_RVIZ" default="true" />
  <node name="map_server" pkg="map_server" type="map_server"
        args="$(arg MAP_FILE)" />
  <include if="$(arg LAUNCH_RVIZ)"
           file="$(find footstep_planner)/launch/rviz_footstep_planning.launch" />
  <node name="footstep_planner" pkg="footstep_planner" type="footstep_planner_node" >
    <rosparam file="$(find footstep_planner)/config/planning_params.yaml" command="load" />
    <rosparam file="$(find hrpsys_gazebo)/config/footstep_planning_params.yaml" command="load" />
    <rosparam file="$(find hrpsys_gazebo)/config/footsteps_atlas.yaml" command="load" />
  </node>
</launch>
