<launch>
  <arg name="EXE_HRPSYS" default="true" />
  <include file="$(find atlas_utils)/launch/qual_task_4.launch" />
  <node pkg="hrpsys_gazebo" type="move_atlas.py"
  	name="move_atlas" args="0.4 0 2 0"/>
  <group if="$(arg EXE_HRPSYS)">
    <include file="$(find hrpsys_gazebo)/launch/atlas_hrpsys.launch" />
  </group>
</launch>



