<launch>
  <!-- left hand -->
  <node ns="sandia_hand_left"
        pkg="hrpsys_gazebo" type="hand_controller" name="controller_manager"
        output="screen" >
    <param name="robot_description" textfile="$(find hrpsys_gazebo)/models/sandia_hand_left.urdf" />
    <remap from="commands" to="/sandia_hands/l_hand/joint_commands" />
    <remap from="in_joint_states" to="/sandia_hands/l_hand/joint_states" />
  </node>
  <node ns="sandia_hand_left"
        pkg="pr2_controller_manager" type="spawner" name="spawner"
        args="sandia_hand_left_controller" output="screen" >
  </node>
  <rosparam ns="sandia_hand_left"
            file="$(find hrpsys_gazebo)/config/sandia_hand_left_controller.yaml" command="load" />

  <!-- right hand -->
  <node ns="sandia_hand_right"
        pkg="hrpsys_gazebo" type="hand_controller" name="controller_manager"
        output="screen" >
    <param name="robot_description" textfile="$(find hrpsys_gazebo)/models/sandia_hand_right.urdf" />
    <remap from="commands" to="/sandia_hands/r_hand/joint_commands" />
    <remap from="in_joint_states" to="/sandia_hands/r_hand/joint_states" />
  </node>
  <node ns="sandia_hand_right"
        pkg="pr2_controller_manager" type="spawner" name="spawner"
        args="sandia_hand_right_controller" output="screen" >
  </node>
  <rosparam ns="sandia_hand_right"
            file="$(find hrpsys_gazebo)/config/sandia_hand_right_controller.yaml" command="load" />

</launch>
