<launch>
  <arg name="EXE_HRPSYS" default="true" />
  <include file="$(find atlas_utils)/launch/vrc_task_2.launch" />
  <node pkg="hrpsys_gazebo" type="move_atlas.py"
  	name="move_atlas" args="-1 -23 2 90"/>
  <group if="$(arg EXE_HRPSYS)">
    <include file="$(find hrpsys_gazebo)/launch/atlas_hrpsys.launch" />
  </group>
</launch>



