<launch>
  <!-- Run mrobot controller -->
  <include file="$(find beego_navigation)/beego_ros_bridge.launch" />

  <!-- Run Kinect -->
  <include file="$(find beego_navigation)/setup_hokuyo.xml" />
  <!-- Run the map server -->
  <include file="$(find beego_navigation)/load_map.xml" />
  <!-- Run move_base with amcl -->
  <include file="$(find beego_navigation)/beego_move_base_hokuyo.xml" />
</launch>
