<launch>
  <arg name="GUI" default="true" />
  <include file="$(find hrpsys_tools)/launch/hrpsys.launch" >
    <arg name="PROJECT_FILE" value="$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4C.xml" />
    <arg name="MODEL_FILE" value="$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4Cmain.wrl" />
    <arg name="CONF_FILE" value="$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4C.conf" />
    <arg name="SIMULATOR_NAME" value="HRP4C(Robot)0" />
    <arg name="GUI" default="$(arg GUI)" />
  </include>

  <sphinxdoc><![CDATA[
This scripts starts HRP-4C.xml hrpsys-base sample project file. First, 
select StartSimulation sub-menu from GrxUI menu, or clock Simulation Start button to start simulation, then execute `HRP4C.py` program as followings to make the robot walk.

.. code-block:: bash

  rosrun hrpsys hrpsyspy `rospack find hrpsys`/share/hrpsys/samples/HRP-4C/HRP4C.py


.. video:: build/images/HRP4C
  :width: 600

  ]]></sphinxdoc>
</launch>
