#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -i -c "roslaunch move_base_stage_tutorial robot.launch"
Name=0 Stage Simulation
Icon=/usr/share/pixmaps/kino.png
