#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -x -i -c "roslaunch rosnode_rtc stage_sample.launch"
Name=2 ROS Node to RTC
Icon=/usr/share/pixmaps/transmission.png
