<launch>
  <!--
      compile and execute joystick view roslaunch this script
      - http://www.openrtp.jp/openhrp3/jp/joystick_sample.html#plugin
      - http://www.openrtp.jp/openhrp3/jp/joystick_sample.html#view
  -->
  <node name="rtm-naming" pkg="openrtm" type="rtm-naming" output="screen" />
  <arg name="nameserver" default="127.0.0.1" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "exec_cxt.periodic.type: SynchExtTriggerEC" -o "logger.file_name:/tmp/rtc%p.log"' />
  <!-- END:openrtm setting -->
  <node pkg="openhrp3" name="grxui" type="grxui.sh"
	args="$(find openhrp3)/share/OpenHRP-3.1/sample/JoystickControl/SimulationProject.xml "/>
  <node name = "JoystickController"
	pkg  = "openhrp3"
	type = "JoystickController"
	args = "$(arg openrtm_args)"
	output = "screen"/>
  <node name = "openhrp_controller_bridge"
	pkg  = "openhrp3"
	type = "openhrp-controller-bridge"
	args = "--server-name JoystickController
		--out-port angle:JOINT_VALUE
		--out-port velocity:JOINT_VELOCITY
		--in-port torque:JOINT_TORQUE
		$(arg openrtm_args)"
	output = "screen"/>

  <!-- BEGIN:openrtm connection -->
  <node name="rtmlaunch" pkg="openrtm" type="rtmlaunch.py" args="$(find openhrp3)/launch/joystick_simulator.launch" output = "screen"/>
  <rtconnect from="Joystick0.rtc:pos" to="JoystickController0.rtc:command" />
  <rtconnect from="JoystickController0.rtc:torque" to="JoystickController(Robot)0.rtc:torque" />
  <rtconnect from="JoystickController(Robot)0.rtc:velocity" to="JoystickController0.rtc:velocity" />
  <rtconnect from="JoystickController(Robot)0.rtc:angle" to="JoystickController0.rtc:angle" />
  <rtactivate component="Joystick0.rtc" />
  <rtactivate component="JoystickController0.rtc" />
  <!-- END:openrtm connection -->
</launch>