<launch>
  <env name="LANG" value="C" />
  <arg name="MODEL_FILE" value="$(find openhrp3)/share/OpenHRP-3.1/sample/project/Sample.xml" />

  <node name="rtm_naming" pkg="openrtm" type="rtm-naming-restart" />
  <node name="hrpsys_kill_all" pkg="openhrp3" type="openhrp-shutdown-servers" />
  <node name="grxui" pkg="openhrp3" type="grxui.sh" args="$(arg MODEL_FILE)" />

  <sphinxdoc><![CDATA[
This scripts starts Sample.xml project file, select StartSimulation sub-menu from GrxUI menu, or clock simulation start button.

.. video:: build/images/Sample
  :width: 600

  ]]></sphinxdoc>

  <test type="test-grxui.py" pkg="openhrp3" time-limit="100"
   test-name="Sample" args="--start-simulation --target-directory=$(find openhrp3)/build/images --max-time=10" cwd="node" />

  <test type="ogv_encode.sh" pkg="jsk_tools" test-name="z_Sample" args="$(find openhrp3)/build/images/Sample.ogv" time-limit="1000"/>

</launch>
