<launch>
  <env name="LANG" value="C" />
  <arg name="MODEL_FILE" value="$(find openhrp3)/share/OpenHRP-3.1/sample/project/SampleLF.xml" />

  <node name="rtm_naming" pkg="openrtm" type="rtm-naming-restart" />
  <node name="hrpsys_kill_all" pkg="openhrp3" type="openhrp-shutdown-servers" />
  <node name="grxui" pkg="openhrp3" type="grxui.sh" args="$(arg MODEL_FILE)" />

  <sphinxdoc><![CDATA[
This scripts starts SampleLF.xml OpenHRP3 sample project file, the robot picks up the yellow box from the ground by selecting StartSimulation sub-menu from GrxUI menu, or clock simulation start button.

.. video:: build/images/SampleLF
  :width: 600

  ]]></sphinxdoc>
  <test type="test-grxui.py" pkg="openhrp3" time-limit="300"
   test-name="SampleLF" args="--start-simulation --target-directory=$(find openhrp3)/build/images --max-time=100" cwd="node" />

  <test type="ogv_encode.sh" pkg="jsk_tools" test-name="z_SampleLF" args="$(find openhrp3)/build/images/SampleLF.ogv" time-limit="1000"/>

</launch>
