<launch>
  <arg name="gzname" default="gazebo"/>
  <arg name="PAUSED" default="false"/>

  <include file="$(find hrpsys_gazebo_tutorials)/launch/gazebo_samplerobot_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)" />
    <arg name="WORLD"  value="SampleRobot_cupboard.world"/>
    <arg name="PAUSED" value="$(arg PAUSED)"/>
  </include>
</launch>
