<launch>
  <arg name="gzname" default="gazebo"/>
  <arg name="WORLD" default="SampleRobot_cupboard.world"/>
  <arg name="HRPSYS_GAZEBO_CONFIG" default="$(find hrpsys_gazebo_tutorials)/config/samplerobot.yaml" />

  <include file="$(find hrpsys_gazebo_tutorials)/launch/gazebo_robot_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)" />
    <arg name="WORLD" value="$(arg WORLD)" />
    <arg name="HRPSYS_GAZEBO_CONFIG" value="$(arg HRPSYS_GAZEBO_CONFIG)" />
  </include>
</launch>
