<launch>
  <arg name="SYNCHRONIZED" default="false" />

  <rosparam command="load"
            file="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot_controller_config.yaml" />

  <!-- TODO: fix colladaWriter see https://code.google.com/p/rtm-ros-robotics/issues/detail?id=182 -->
  <node pkg="tf" type="static_transform_publisher" name="sensor_transform_0"
        args="0 0 0 0 0 0 /LLEG_LINK6 /LLEG_ANKLE_R 100" />
  <node pkg="tf" type="static_transform_publisher" name="sensor_transform_1"
        args="0 0 0 0 0 0 /RLEG_LINK6 /RLEG_ANKLE_R 100" />
  <node pkg="tf" type="static_transform_publisher" name="sensor_transform_2"
        args="0 0 0 0 0 0 /LARM_LINK7 /LARM_WRIST_P 100" />
  <node pkg="tf" type="static_transform_publisher" name="sensor_transform_3"
        args="0 0 0 0 0 0 /RARM_LINK7 /RARM_WRIST_P 100" />
  <node pkg="tf" type="static_transform_publisher" name="sensor_transform_4"
        args="0 0 0 0 0 0 /WAIST_LINK0 gyrometer 100" />

  <include file="$(find hrpsys_gazebo_tutorials)/launch/robot_hrpsys_bringup.launch">
    <arg name="ROBOT_TYPE" value="SampleRobot" />
    <arg name="USE_INSTANCE_NAME" value="true" />
    <arg name="SYNCHRONIZED" value="$(arg SYNCHRONIZED)" />
    <arg name="HRPSYS_PY_ARGS" value="--use-unstable-rtc" />
  </include>
</launch>
