<launch>
  <arg name="GUI" default="true" />
  <arg name="LAUNCH_HRPSYSPY" default="true" />
  <!-- begin use sim time -->
  <param name="use_sim_time" value="true" />
  <!-- end use sim time -->
  <include file="$(find hrpsys_tools)/launch/hrpsys.launch">
    <arg name="PROJECT_FILE" value="$(find hironx_ros_bridge)/models/kawada-hironx_nosim.xml" />
    <arg name="MODEL_FILE" value="$(find hironx_ros_bridge)/models/kawada-hironx.dae" />
    <arg name="CONF_FILE" value="$(find hironx_ros_bridge)/models/kawada-hironx.conf" />
    <arg name="SIMULATOR_NAME" value="HiroNX(Robot)0" />
    <arg name="GUI" default="$(arg GUI)" />
    <arg name="LAUNCH_HRPSYSPY" default="$(arg LAUNCH_HRPSYSPY)" />
    <arg name="HRPSYS_PY_PKG" default="hironx_ros_bridge"/>
    <arg name="HRPSYS_PY_NAME" default="hironx.py"/>
    <arg name="REALTIME" default="true" />
  </include>
</launch>
