<launch>
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="192.168.128.14" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log"' />
  <!-- END:openrtm setting -->
  <arg name="MODEL_FILE" value="/opt/grx/HIRONX/model/main.wrl" />
  <arg name="COLLADA_FILE" value="$(find collada_robots)/data/robots/kawada-hironx.dae"/>
  <arg name="RESPAWN" default="true"/>
  <arg name="OUTPUT" default="log"/>
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />

  <node name="HiroStateHolder" pkg="hironx_ros_bridge" type="HiroStateHolder" output="$(arg OUTPUT)"
	args="$(arg openrtm_args)" respawn="$(arg RESPAWN)" />

  <node name = "HrpsysSeqStateROSBridge"
        pkg  = "hrpsys_ros_bridge"
        type = "HrpsysSeqStateROSBridge"
        args = "$(arg openrtm_args) -o model:$(arg MODEL_FILE)"
        output = "screen" />

  <param name="robot_description" textfile="$(arg COLLADA_FILE)" />
  <node pkg="robot_state_publisher" type="state_publisher" name="hrpsys_state_publisher" />

  <node name="hironx_rviz" pkg="rviz" type="rviz" respawn="$(arg RESPAWN)"
        args="--sync -d $(find hironx_ros_bridge)/launch/hironx.vcg"/>

  <node name="gripper_action_node" ns="/l_gripper_controller"
	pkg="hironx_ros_bridge" type="hiro_gripper_action.py">
    <param name="hand_name" value="LHAND" />
  </node>
  <node name="gripper_action_node" ns="/r_gripper_controller"
	pkg="hironx_ros_bridge" type="hiro_gripper_action.py">
    <param name="hand_name" value="RHAND" />
  </node>

  <!-- BEGIN:openrtm connection -->
  <node name="rtmlaunch_hrpsys" pkg="hrpsys" type="hrpsys-launch.sh" args="$(arg MODEL_FILE) $(find hironx_ros_bridge)/launch/hironx.launch" respawn="$(arg RESPAWN)" />
  <rtconnect from="RobotHardware0.rtc:jointDatOut" to="HiroStateHolder0.rtc:jointData" subscription_type="periodic" push_rate="50"/>
  <rtconnect from="HiroStateHolder0.rtc:angle" to="HrpsysSeqStateROSBridge0.rtc:angle" />
  <rtconnect from="HiroStateHolder0.rtc:rsangle" to="HrpsysSeqStateROSBridge0.rtc:rsangle" />
  <rtconnect from="HiroStateHolder0.rtc:mcangle" to="HrpsysSeqStateROSBridge0.rtc:mcangle" />
  <rtconnect from="seq.rtc:SequencePlayerService" to="HrpsysSeqStateROSBridge0.rtc:SequencePlayerService" />
  <rtactivate component="HiroStateHolder0.rtc" />
  <rtactivate component="HrpsysSeqStateROSBridge0.rtc" />
  <!-- END:openrtm connection -->
</launch>
