<launch>
  <arg name="KILL_SERVERS" default="false" />
  <include file="$(find hrpsys_tools)/launch/hrpsys.launch">
    <arg name="PROJECT_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/GR001.xml" />
    <arg name="MODEL_FILE" value="$(find choreonoid)/share/choreonoid-1.1/models/GR001/GR001.wrl" />
    <arg name="CONF_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/GR001.conf" />
    <arg name="SIMULATOR_NAME" value="GR001(Robot)0" />
    <arg name="KILL_SERVERS" default="$(arg KILL_SERVERS)" />
  </include>
</launch>
