<launch>

  <rosparam command="load"
            file="$(find hrpsys_ros_bridge_tutorials)/models/HIRONX_controller_config.yaml" />

  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="ROBOT_NAME" value="HiroNX" />
    <arg name="MODEL_FILE" value="$(find collada_robots)/data/robots/kawada-hironx.dae" />
    <arg name="COLLADA_FILE" value="$(find collada_robots)/data/robots/kawada-hironx.dae" />
  </include>

  <node name="hironx_rviz" pkg="rviz" type="rviz" respawn="true"
	args="-sync -d $(find hrpsys_ros_bridge_tutorials)/launch/hironx.vcg"
        />

</launch>

