<launch>
  <arg name="KILL_SERVERS" default="false" />
  <!-- begin use sim time -->
  <param name="use_sim_time" value="true" />
  <!-- end use sim time -->
  <include file="$(find hrpsys)/launch/hrpsys.launch">
    <arg name="PROJECT_FILE" value="$(find hrpsys_ros_bridge)/models/kawada-hironx.xml" />
    <arg name="MODEL_FILE" value="$(find collada_robots)/data/robots/kawada-hironx.dae" />
    <arg name="CONF_FILE" value="$(find hrpsys_ros_bridge)/models/kawada-hironx.conf" />
    <arg name="SIMULATOR_NAME" value="HiroNX(Robot)0" />
    <arg name="KILL_SERVERS" default="$(arg KILL_SERVERS)" />
    <arg name="REALTIME" default="true" />
  </include>
</launch>
