<launch>
  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="ROBOT_NAME" value="pr2" />
    <arg name="MODEL_FILE" value="$(find collada_robots)/data/robots/willowgarage-pr2.dae" />
    <arg name="COLLADA_FILE" value="$(find collada_robots)/data/robots/willowgarage-pr2.dae" />
  </include>

  <node name = "HrpsysSeqStateROSBridge_respawn"
	pkg  = "hrpsys_ros_bridge_tutorials"
	type = "HrpsysSeqStateROSBridge"
	args = '-o "corba.nameservers:localhost:2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log" -o "model:$(find collada_robots)/data/robots/willowgarage-pr2.dae"'
	output = "screen" />

  <node name="darwin_rviz" pkg="rviz" type="rviz" respawn="true"
	args="-sync -d $(find hrpsys_ros_bridge_tutorials)/launch/pr2.vcg"
        />
</launch>


