<launch>

  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="ROBOT_NAME" value="SampleRobot" />
    <arg name="MODEL_FILE" value="$(find openhrp3)/share/OpenHRP-3.1/sample/model/sample1.wrl" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot.dae" />
  </include>


</launch>

