<launch>

  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="SIMULATOR_NAME" value="SampleRobot(Robot)0" />
    <arg name="MODEL_FILE" value="$(find openhrp3)/share/OpenHRP-3.1/sample/model/sample1.wrl" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot.dae" />
  </include>

  <node name="samplerobot_rviz" pkg="rviz" type="rviz" respawn="true"
	args="-sync -d $(find hrpsys_ros_bridge_tutorials)/launch/samplerobot.vcg"
        />

  <node name="image_proc" pkg="image_proc" type="image_proc" output="screen" />
  <include file="$(find roseus_tutorials)/launch/image-view.launch" />
  <include file="$(find roseus_tutorials)/launch/camshiftdemo.launch" />

</launch>

