<launch>
  <arg name="LAUNCH_TELEOP" default="false" />

  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="SIMULATOR_NAME" value="SampleRobot(Robot)0" />
    <arg name="MODEL_FILE" value="$(find openhrp3)/share/OpenHRP-3.1/sample/model/sample1.wrl" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot.dae" />
  </include>

  <node pkg="pr2_teleop" type="teleop_pr2_keyboard" name="samplerobot_teleop" 
        output="screen" launch-prefix="xterm -e" if="$(arg LAUNCH_TELEOP)">
    <param name="walk_vel" value="0.1" />
    <param name="yaw_rate" value="5.0" />
  </node>

</launch>

