<launch>
  <!--- Run AMCL -->
  <include file="$(find mrobot_ros_bridge)/launch/beego_amcl_omni.launch" />
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false"
	name="move_base" output="screen">
    <rosparam file="$(find mrobot_ros_bridge)/launch/beego_navigation_yaml/costmap_common_params.yaml"
	      command="load" ns="global_costmap" />
    <rosparam file="$(find mrobot_ros_bridge)/launch/beego_navigation_yaml/costmap_common_params.yaml"
	      command="load" ns="local_costmap" />
    <rosparam file="$(find mrobot_ros_bridge)/launch/beego_navigation_yaml/local_costmap_params.yaml"
	      command="load" />
    <rosparam file="$(find mrobot_ros_bridge)/launch/beego_navigation_yaml/global_costmap_params.yaml"
	      command="load" />
    <rosparam file="$(find mrobot_ros_bridge)/launch/beego_navigation_yaml/base_local_planner_params.yaml"
	      command="load" />
  </node>
</launch>