<launch>
  <!-- kinect and frame ids -->
  <include file="$(find openni_camera)/launch/openni_node.launch"/>
  <node pkg="nodelet" type="nodelet" name="openni_manager" output="screen"
        respawn="true" args="manager"/>
  <!-- throttling -->
  <node pkg="nodelet" type="nodelet" name="pointcloud_throttle"
        args="load pointcloud_to_laserscan/CloudThrottle openni_manager">
    <param name="max_rate" value="2"/>
    <remap from="cloud_in" to="/camera/depth/points"/>
    <remap from="cloud_out" to="cloud_throttled"/>
  </node>
  <!-- fake laser -->
  <node pkg="nodelet" type="nodelet" name="kinect_laser"
	args="load pointcloud_to_laserscan/CloudToScan openni_manager">
    <param name="output_frame_id" value="/openni_depth_frame"/>
    <remap from="cloud" to="cloud_throttled"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_to_kinect"
	args="-0.02 0 0 0 0 0 base_link openni_camera 100" />
</launch>
