<launch>
  <node name="rtm_naming" pkg="openrtm" type="rtm-naming-restart" output="screen" />
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="localhost" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log"' />
  <arg name="openrtm_ext_args" value='$(arg openrtm_args) -o "exec_cxt.periodic.type: SynchExtTriggerEC"' />
  <env name="BEEGO_MODEL_DIR" value="$(find mrobot_ros_bridge)/model" />
  <!-- END:openrtm setting -->
  <node pkg="openhrp3" name="grxui" type="grxui.sh"
	args="$(find mrobot_ros_bridge)/launch/beegoSimulation.xml"/>
  <node name = "IISBeegoControllerComp"
	pkg  = "mrobot_ros_bridge"
	type = "IISBeegoControllerComp"
	args = "$(arg openrtm_ext_args)"
	output = "screen" launch-prefix="xterm -e "/>
  <node name = "openhrp_controller_bridge"
	pkg  = "openhrp3"
	type = "openhrp-controller-bridge"
	args = "--server-name IISBeegoControllerComp
		--out-port angle:JOINT_VALUE
		--out-port velocity:JOINT_VELOCITY
		--out-port range:RANGE_SENSOR1:RANGE_SENSOR
		--in-port torque:JOINT_TORQUE
		$(arg openrtm_ext_args)" launch-prefix="xterm -e "
	output = "screen" respawn="true" />
  <node name = "MobileRobotROSBridgeComp"
	pkg  = "mrobot_ros_bridge"
	type = "MobileRobotROSBridgeComp"
	args = "$(arg openrtm_args)"
	output = "screen"/>
  <node name = "RangeSensorROSBridgeComp"
	pkg  = "mrobot_ros_bridge"
	type = "RangeSensorROSBridgeComp"
	args = "$(arg openrtm_args)"
	output = "screen"/>
  <node pkg="pr2_teleop"
	type="teleop_pr2_keyboard"
	name="teleop_pr2_keyboard" output="screen"
	launch-prefix="xterm -e"/>
  <!-- <node pkg="wiimote"
        type="wiimote_node.py"
        name="wiimote" output="screen"
        respawn="true"
        launch-prefix="xterm -e"/> -->
  <node name = "beego_teleop"
	pkg  = "mrobot_ros_bridge"
	type = "joy_teleop.py"
	output = "screen"/>
  <node name = "laser_tf_publisher"
	pkg="tf" type="static_transform_publisher"
	args="0.2 0 0.1 0 0 0 /base_link /laser_link 10" />

  <!-- BEGIN:openrtm connection -->
  <node name="rtmlaunch" pkg="openrtm" type="rtmlaunch.py" args="$(find mrobot_ros_bridge)/launch/beego_simulator.launch" output = "screen"/>
  <rtconnect from="IISBeegoController0.rtc:torque" to="IISBeegoControllerComp(Robot)0.rtc:torque" />
  <rtconnect from="IISBeegoControllerComp(Robot)0.rtc:velocity" to="IISBeegoController0.rtc:velocity" />
  <rtconnect from="IISBeegoControllerComp(Robot)0.rtc:angle" to="IISBeegoController0.rtc:angle" />
  <rtconnect from="IISBeegoController0.rtc:out" to="MobileRobotROSBridge0.rtc:in" />
  <rtconnect from="MobileRobotROSBridge0.rtc:out" to="IISBeegoController0.rtc:in" />
  <rtconnect from="IISBeegoControllerComp(Robot)0.rtc:range" to="RangeSensorROSBridge0.rtc:in" />
  <rtactivate component="IISBeegoController0.rtc" />
  <rtactivate component="MobileRobotROSBridge0.rtc" />
  <rtactivate component="RangeSensorROSBridge0.rtc" />
  <!-- END:openrtm connection -->

  <sphinxdoc><![CDATA[
This script starts mobile robot simulator and keyboard teloep interface.
The robot in the simulator have a range sensor, and a RTM-ROS bridge node published the range data.

.. image:: launch/images/mrobot_simulator_grxui.png
  :width: 400

  ]]></sphinxdoc>

</launch>