<launch>
  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="ROBOT_NAME" value="Darwin" />
    <arg name="MODEL_FILE" value="$(find hrpsys_ros_bridge)/models/DARWIN.wrl" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_ros_bridge)/models/DARWIN.dae" />
  </include>

  <node name="darwin_rviz" pkg="rviz" type="rviz" respawn="true"
	args="--sync -d $(find hrpsys_ros_bridge)/launch/darwin.vcg"
	launch-prefix='glc-capture --out=$(find hrpsys_ros_bridge)/build/images/darwin_rviz.glc'
	/>
</launch>


