<launch>
  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="ROBOT_NAME" value="HRP4" />
    <arg name="MODEL_FILE" value="$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4Cmain.wrl" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_ros_bridge)/models/HRP4C.dae" />
  </include>

  <node name="hrp4c_rviz" pkg="rviz" type="rviz" respawn="true"
	args="--sync -d $(find hrpsys_ros_bridge)/launch/hrp4c.vcg"
        launch-prefix='glc-capture --out=$(find hrpsys_ros_bridge)/build/images/hrp4c_rviz.glc'  />
</launch>


