<launch>
  <arg name="ROBOT_NAME" />
  <arg name="MODEL_FILE" />
  <arg name="COLLADA_FILE" />
  <!--
      roslaunch hrpsys_ros_bridge sample.launch nameserver:=192.168.1.1
  -->
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="localhost" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver)" />
  <arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log"
				  -o "exec_cxt.periodic.type:SimulationEC" -o "manager.modules.load_path:$(find openhrp3)/lib" -o "manager.modules.preload:SimulationEC.so" ' />
  <!-- END:openrtm setting -->
  <node name = "HrpsysSeqStateROSBridge"
	pkg  = "hrpsys_ros_bridge"
	type = "HrpsysSeqStateROSBridge"
	args = "$(arg openrtm_args) -o model:$(arg MODEL_FILE)"
	output = "screen"/>
  <node pkg="hrpsys_ros_bridge" name="ImageSensorROSBridge" type="ImageSensorROSBridge"
	output="screen" args="$(arg openrtm_args)" >
    <param name="frame_id" value="/VISION_SENSOR1" />
  </node>
  <!-- -o "exec_cxt.periodic.type:SynchExtTriggerEC" -->

  <param name="robot_description" textfile="$(arg COLLADA_FILE)" />
  <node pkg="robot_state_publisher" type="state_publisher" name="hrpsys_state_publisher" />

  <!-- BEGIN:openrtm connection -->
  <env name="ROBOT_NAME" value="$(arg ROBOT_NAME)" />
  <node name="rtmlaunch" pkg="openrtm" type="rtmlaunch.py" args="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch"/>
  <rtconnect from="StateHolder0.rtc:qOut" to="HrpsysSeqStateROSBridge0.rtc:rsangle" />
  <rtconnect from="HrpsysSeqStateROSBridge0.rtc:SequencePlayerService" to="seq.rtc:SequencePlayerService" />
  <rtconnect from="StateHolder0.rtc:basePoseOut" to="HrpsysSeqStateROSBridge0.rtc:pose" />
  <rtactivate component="HrpsysSeqStateROSBridge0.rtc" />
  <rtconnect from="$(arg ROBOT_NAME)(Robot)0.rtc:image" to="ImageSensorROSBridge0.rtc:image" />
  <rtactivate component="ImageSensorROSBridge0.rtc" />
  <!-- END:openrtm connection -->
</launch>

