<launch>
  <include file="$(find hrpsys_ros_bridge)/launch/pr2_startup.launch" />
  <include file="$(find hrpsys_ros_bridge)/launch/pr2_ros_bridge.launch" />

  <sphinxdoc><![CDATA[

This launch file shows an example of ros bridge for pr2 robot

.. image:: build/images/PR2_Example.gif
  :width: 600

  ]]></sphinxdoc>
  <test type="test-grxui.py" pkg="openhrp3" time-limit="300"
   test-name="PR2_Example"
   args="--max-time=10 --capture-window RViz
	 --target-directory=$(find hrpsys_ros_bridge)/build/images
	 --check-tf='/base_footprint /head_plate_frame'
	 " /> <!-- add dummy __log:= argument to invoke roseus with non-interactive mode -->
</launch>


