<launch>
  <env name="LANGUAGE" value="en" />
  <env name="LANG" value="C" />

  <arg name="check_core_temps" default="False" />
  <arg name="check_ipmi_tool" default="False" />
  <arg name="check_nfs" default="False" />
  <arg name="enforce_clock_speed" default="False" />
  <arg name="num_cores" default="4" />

  <!-- Monitor CPU temp, usage -->
  <node pkg="pr2_computer_monitor" name="realtime_cpu_monitor" type="cpu_monitor.py" output="screen" >
    <param name="check_core_temps" type="bool" value="$(arg check_core_temps)" /> <!-- add user to sudoers -->
    <param name="check_ipmi_tool" type="bool" value="$(arg check_ipmi_tool)" /> <!-- apt-get install ipmitool freeipmi-common -->
    <param name="check_nfs" type="bool" value="$(arg check_nfs)" />
    <param name="enforce_clock_speed" type="bool" value="$(arg enforce_clock_speed)" />
    <param name="num_cores" type="int" value="$(arg num_cores)" />
  </node>

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find hrpsys_ros_bridge)/scripts/diagnostics.yaml" />
  </node>

</launch>
