<launch>
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="localhost" />
  <arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver):2809" -o "naming.formats:%n.rtc" -o "logger.file_name:/tmp/rtc%p.log"
				  -o "exec_cxt.periodic.type:SimulationEC" -o "manager.modules.load_path:$(find openhrp3)/lib" -o "manager.modules.preload:SimulationEC.so" ' />
  <!-- END:openrtm setting -->

  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="ROBOT_NAME" value="SampleRobot" />
    <arg name="MODEL_FILE" value="$(find openhrp3)/share/OpenHRP-3.1/sample/model/sample1.wrl" />
    <arg name="COLLADA_FILE" value="$(find hrpsys)/scripts/SampleRobot.dae" />
  </include>

  <node name="samplerobot_rviz" pkg="rviz" type="rviz" respawn="true"
	args="--sync -d $(find hrpsys_ros_bridge)/launch/samplerobot.vcg" />

  <node name="image_proc" pkg="image_proc" type="image_proc" output="screen" />
  <include file="$(find roseus_tutorials)/launch/image-view.launch" />
  <include file="$(find roseus_tutorials)/launch/camshiftdemo.launch" />


  <!-- BEGIN:openrtm connection -->
  <node name="samplerobot_rtmlaunch" pkg="openrtm" type="rtmlaunch.py" args="$(find hrpsys_ros_bridge)/launch/samplerobot_ros_bridge.launch"/>
  <rtconnect from="SampleRobot(Robot)0.rtc:left-eye" to="ImageSensorROSBridge0.rtc:image" />
  <rtactivate component="ImageSensorROSBridge0.rtc" />
  <!-- END:openrtm connection -->
</launch>

