<launch>
  <arg name="KILL_SERVERS" default="false" />
  <arg name="NOSIM" default="false" />
  <arg name="PROJECT_FILE" default="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot_nosim.xml" if="$(arg NOSIM)"/>
  <arg name="PROJECT_FILE" default="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot.xml" unless="$(arg NOSIM)"/>
  <param name="use_sim_time" value="true" />
  <include file="$(find hrpsys_tools)/launch/hrpsys.launch">
    <arg name="PROJECT_FILE" value="$(arg PROJECT_FILE)"/>
    <arg name="MODEL_FILE" value="$(find openhrp3)/share/OpenHRP-3.1/sample/model/sample1.wrl" />
    <arg name="CONF_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot.conf" />
    <arg name="SIMULATOR_NAME" value="SampleRobot(Robot)0" />
    <arg name="KILL_SERVERS" default="$(arg KILL_SERVERS)" />
  </include>
</launch>
