<launch>
  <arg name="KILL_SERVERS" default="false" />
  <arg name="LAUNCH_TELEOP" default="false" />
  <arg name="NOSIM" default="false" />
  <arg name="PROJECT_FILE" default="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot_nosim.xml" if="$(arg NOSIM)"/>
  <arg name="PROJECT_FILE" default="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot.xml" unless="$(arg NOSIM)"/>
  <include file="$(find hrpsys_ros_bridge_tutorials)/launch/samplerobot_startup.launch" >
    <arg name="KILL_SERVERS" default="$(arg KILL_SERVERS)" />
    <arg name="NOSIM" value="$(arg NOSIM)" />
    <arg name="PROJECT_FILE" value="$(arg PROJECT_FILE)" />
  </include>
  <include file="$(find hrpsys_ros_bridge_tutorials)/launch/samplerobot_ros_bridge.launch">
    <arg name="LAUNCH_TELEOP" default="$(arg LAUNCH_TELEOP)" />
  </include>

  <sphinxdoc><![CDATA[

.. code-block:: bash

  rosrun roseus roseus `rospack find hrpsys_ros_bridge_tutorials`/euslisp/samplerobot-pickup.l

This launch file shows an example of ros bridge for sample robot and client program `samplerobot-pickup.l`

.. video:: build/images/SampleRobot_PickUp
  :width: 600

.. video:: build/images/samplerobot_rviz-1
  :width: 600

  ]]></sphinxdoc>
  <test type="test-grxui.py" pkg="openhrp3" time-limit="1200"
   test-name="SampleRobot_PickUp"
   args="--max-time=30
	 --viewer-name='' #
	 --no-start-simulation
	 --target-directory=$(find hrpsys_ros_bridge_tutorials)/build/images
	 --check-tf='/WAIST_LINK0 /VISION_SENSOR1'
	 --script='rosrun roseus roseus $(find hrpsys_ros_bridge_tutorials)/euslisp/samplerobot-pickup.l __log:=dummy'" /> <!-- add dummy __log/= argument to invoke roseus with non-interactive mode -->
  <test type="ogv_encode.sh" pkg="jsk_tools" test-name="z_SampleRobot_PickUp" args="$(find hrpsys_ros_bridge_tutorials)/build/images/SampleRobot_PickUp.ogv" time-limit="1000"/>
  <test type="glc_encode.sh" pkg="jsk_tools" test-name="z_samplerobot_rviz" args="$(find hrpsys_ros_bridge_tutorials)/build/images/samplerobot_rviz.glc" time-limit="2000"/>
</launch>


