<launch>
  <include file="$(find hrpsys)/launch/hrpsys.launch">
    <arg name="PROJECT_FILE" value="$(find hrpsys_ros_bridge)/models/YasukawaSmartPal5.xml" />
    <arg name="MODEL_FILE" value="$(find hrpsys_ros_bridge)/models/YasukawaSmartPal5.dae" />
    <arg name="CONF_FILE" value="$(find hrpsys_ros_bridge)/models/YasukawaSmartPal5.conf" />
  </include>
</launch>
