<launch>
  <include file="$(find hrpsys_ros_bridge)/launch/smartpal5_startup.launch" />
  <include file="$(find hrpsys_ros_bridge)/launch/smartpal5_ros_bridge.launch" />

  <sphinxdoc><![CDATA[

  ]]></sphinxdoc>
  <test type="test-grxui.py" pkg="openhrp3" time-limit="600" retry="2"
   test-name="SmartPal5_PickUp"
   args="--max-time=10 --capture-window RViz
	 --target-directory=$(find hrpsys_ros_bridge)/build/images
	 --check-tf='/WAIST_LINK0 /VISION_SENSOR1'
	 "/> <!-- add dummy __log:= argument to invoke roseus with non-interactive mode -->
</launch>


