<launch>
  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="ROBOT_NAME" value="SMARTPAL5" />
    <arg name="MODEL_FILE" value="$(find hrpsys_ros_bridge)/models/YaskawaSmartPal5.wrl" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_ros_bridge)/models/YaskawaSmartPal5.dae" />
  </include>

  <node name="smartpal5_rviz" pkg="rviz" type="rviz" respawn="true"
	args="--sync -d $(find hrpsys_ros_bridge)/launch/hrp4c.vcg"
        launch-prefix='glc-capture --out=$(find hrpsys_ros_bridge)/build/images/smartpal5_rviz.glc' />
</launch>


