<launch>
  <include file="$(find hrpsys_ros_bridge)/launch/hrp4c.launch" />
  <include file="$(find hrpsys_ros_bridge)/launch/hrp4c_ros_bridge.launch" />

  <sphinxdoc><![CDATA[

.. code-block:: bash

  roslaunch hrpsys_ros_bridge hrp4c.launch
  roslaunch hrpsys_ros_bridge hrp4c_ros_bridge.launch
  rosrun roseus roseus `rospack find hrpsys_ros_bridge`/scripts/hrp4c-pickup.l

.. image:: build/images/HRP4C_PickUp.gif
  :width: 600

  ]]></sphinxdoc>
  <test type="test-grxui.py" pkg="openhrp3" time-limit="600" retry="2"
   test-name="HRP4C_PickUp"
   args="--max-time=120 --capture-window RViz
	 --target-directory=$(find hrpsys_ros_bridge)/build/images
	 --script='rosrun roseus roseus $(find hrpsys_ros_bridge)/scripts/hrp4c-pickup.l'"
   />
</launch>


